.checkout__title {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  color: white;
}
.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
  height: 100px;
  border-radius: 3px;
}
.checkout {
  display: flex;
  padding: 20px;
  background-color: #1e1e1e;
  height: max-content;
  color: white;
  height: 100%;
}
@media screen and (max-width: 768px) {
  CheckoutProduct {
    width: 90vw;
  }
  .checkout {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .checkout__right {
    width: 100%;
  }
}
